<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Guna.Charts.WinForms" version="1.0.8" targetFramework="net48" />
  <package id="Guna.UI2.WinForms" version="2.0.4.4" targetFramework="net48" />
  <package id="Microsoft.NETCore.Platforms" version="7.0.4" targetFramework="net48" />
  <package id="Microsoft.NETCore.Targets" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="runtime.native.System" version="4.3.1" targetFramework="net48" />
  <package id="runtime.unix.Microsoft.Win32.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="runtime.win.Microsoft.Win32.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.ComponentModel.Composition" version="7.0.0" targetFramework="net48" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net48" />
</packages>